{
  "openapi": "3.1.0",
  "info": {
    "title": "Anyshift Graph API",
    "version": "1.0.0",
    "description": "Read-only API for querying Anyshift infrastructure graphs by project."
  },
  "servers": [
    {
      "url": "https://graph.anyshift.io"
    }
  ],
  "tags": [
    {
      "name": "Graph",
      "description": "Ask natural-language questions or run deterministic graph queries."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque"
      }
    },
    "parameters": {
      "ProjectId": {
        "name": "projectId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Anyshift project id whose graph should be queried."
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "bad_request",
                  "project_required",
                  "forbidden",
                  "not_found",
                  "payload_too_large",
                  "timeout",
                  "project_graph_unconfigured",
                  "project_events_graph_unconfigured",
                  "internal"
                ]
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "sql": {
            "type": "string",
            "minLength": 1,
            "description": "SELECT <*|count(*)> FROM <table> [WHERE k = v [AND ...]] [LIMIT n] [OFFSET n]"
          }
        },
        "required": [
          "sql"
        ],
        "additionalProperties": false
      },
      "AskRequest": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "minLength": 1,
            "description": "Natural-language graph question"
          }
        },
        "required": [
          "question"
        ],
        "additionalProperties": false
      },
      "Page": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 0
          },
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "limit",
          "offset",
          "hasMore",
          "nextOffset"
        ],
        "additionalProperties": false
      },
      "GraphNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "anyshiftID": {
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "namespace": {
            "type": [
              "string",
              "null"
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "anyshiftID",
          "name",
          "type",
          "namespace"
        ],
        "additionalProperties": false
      },
      "GraphEdge": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "upstream",
              "downstream"
            ]
          }
        },
        "required": [
          "from",
          "to",
          "type",
          "direction"
        ],
        "additionalProperties": false
      },
      "ResolveResult": {
        "type": "object",
        "properties": {
          "term": {
            "type": "string"
          },
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "anyshiftID": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "id",
                "anyshiftID",
                "name",
                "type",
                "namespace",
                "cluster"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "term",
          "candidates"
        ],
        "additionalProperties": false
      },
      "InventoryResult": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "byNamespace": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "namespace": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "namespace",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "sample": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "namespace"
              ],
              "additionalProperties": false
            }
          },
          "availableTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "label",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "minimum": 0
              },
              "offset": {
                "type": "integer",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              },
              "nextOffset": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "limit",
              "offset",
              "hasMore",
              "nextOffset"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "type",
          "total",
          "byNamespace",
          "sample",
          "availableTypes",
          "page"
        ],
        "additionalProperties": false
      },
      "EventsResult": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string"
              },
              "target": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              },
              "includeNoise": {
                "type": "boolean"
              }
            },
            "required": [
              "eventType",
              "target",
              "namespace",
              "includeNoise"
            ],
            "additionalProperties": false
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "byType": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "type",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "targetKind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isRoot": {
                  "type": "boolean"
                },
                "noiseClass": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ts",
                "type",
                "summary",
                "targetKind",
                "target",
                "namespace",
                "isRoot",
                "noiseClass",
                "cluster"
              ],
              "additionalProperties": false
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "minimum": 0
              },
              "offset": {
                "type": "integer",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              },
              "nextOffset": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "limit",
              "offset",
              "hasMore",
              "nextOffset"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "filter",
          "total",
          "byType",
          "recent",
          "page"
        ],
        "additionalProperties": false
      },
      "HotspotsResult": {
        "type": "object",
        "properties": {
          "dimension": {
            "type": "string",
            "enum": [
              "namespace",
              "resource",
              "alertrule",
              "alertworkload"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "eventType": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              },
              "includeNoise": {
                "type": "boolean"
              }
            },
            "required": [
              "eventType",
              "namespace",
              "includeNoise"
            ],
            "additionalProperties": false
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "total": {
                  "type": "integer",
                  "minimum": 0
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "recovers": {
                  "type": "integer",
                  "minimum": 0
                },
                "flap": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "key",
                "total",
                "namespace"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "dimension",
          "filter",
          "ranking"
        ],
        "additionalProperties": false
      },
      "IncidentResult": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": [
              "string",
              "null"
            ]
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "roots": {
            "type": "integer",
            "minimum": 0
          },
          "namespaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "byType": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "type",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "rootCauses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "targetKind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isRoot": {
                  "type": "boolean"
                },
                "noiseClass": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ts",
                "type",
                "summary",
                "targetKind",
                "target",
                "namespace",
                "isRoot",
                "noiseClass",
                "cluster"
              ],
              "additionalProperties": false
            }
          },
          "chain": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "targetKind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isRoot": {
                  "type": "boolean"
                },
                "noiseClass": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ts",
                "type",
                "summary",
                "targetKind",
                "target",
                "namespace",
                "isRoot",
                "noiseClass",
                "cluster"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "correlationId",
          "total",
          "roots",
          "namespaces",
          "byType",
          "rootCauses",
          "chain"
        ],
        "additionalProperties": false
      },
      "EventFeedResult": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string"
              },
              "sinceHours": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "target",
              "sinceHours"
            ],
            "additionalProperties": false
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "byType": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "type",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "targetKind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isRoot": {
                  "type": "boolean"
                },
                "noiseClass": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ts",
                "type",
                "summary",
                "targetKind",
                "target",
                "namespace",
                "isRoot",
                "noiseClass",
                "cluster"
              ],
              "additionalProperties": false
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "minimum": 0
              },
              "offset": {
                "type": "integer",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              },
              "nextOffset": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "limit",
              "offset",
              "hasMore",
              "nextOffset"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "filter",
          "total",
          "byType",
          "recent",
          "page"
        ],
        "additionalProperties": false
      },
      "DeploymentsResult": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string"
              },
              "namespace": {
                "type": "string"
              },
              "sinceHours": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "target",
              "namespace",
              "sinceHours"
            ],
            "additionalProperties": false
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "namespaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "to": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "ts",
                "target",
                "namespace",
                "images"
              ],
              "additionalProperties": false
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "minimum": 0
              },
              "offset": {
                "type": "integer",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              },
              "nextOffset": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "limit",
              "offset",
              "hasMore",
              "nextOffset"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "filter",
          "total",
          "namespaces",
          "recent",
          "page"
        ],
        "additionalProperties": false
      },
      "DeployImpactResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string"
              },
              "sinceHours": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "target",
              "sinceHours"
            ],
            "additionalProperties": false
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "deployed": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "rollouts": {
                  "type": "integer",
                  "minimum": 0
                },
                "fallout": {
                  "type": "integer",
                  "minimum": 0
                },
                "effects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "type",
                      "count"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "deployed",
                "namespace",
                "rollouts",
                "fallout",
                "effects"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "type": "string"
          },
          "rollouts": {
            "type": "integer",
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "byType": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "type",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "targetKind": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "isRoot": {
                  "type": "boolean"
                },
                "noiseClass": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ts",
                "type",
                "summary",
                "targetKind",
                "target",
                "namespace",
                "isRoot",
                "noiseClass",
                "cluster"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "scope",
          "filter",
          "ranking",
          "target",
          "rollouts",
          "total",
          "byType",
          "recent"
        ],
        "additionalProperties": false
      },
      "CommonCauseResult": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              },
              "sinceHours": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "namespace",
              "sinceHours"
            ],
            "additionalProperties": false
          },
          "failingPods": {
            "type": "integer",
            "minimum": 0
          },
          "events": {
            "type": "integer",
            "minimum": 0
          },
          "byNode": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "affected": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "affected"
              ],
              "additionalProperties": false
            }
          },
          "byWorkload": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "affected": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "affected"
              ],
              "additionalProperties": false
            }
          },
          "byDatastore": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "affected": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "affected"
              ],
              "additionalProperties": false
            }
          },
          "byExternal": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "affected": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "affected"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "filter",
          "failingPods",
          "events",
          "byNode",
          "byWorkload",
          "byDatastore",
          "byExternal"
        ],
        "additionalProperties": false
      },
      "BlastRadiusResult": {
        "type": "object",
        "properties": {
          "pods": {
            "type": "integer",
            "minimum": 0
          },
          "workloads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "affected": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "affected"
              ],
              "additionalProperties": false
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "affected": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "affected"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "pods",
          "workloads",
          "services"
        ],
        "additionalProperties": false
      },
      "SpofResult": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "configmap",
              "serviceaccount",
              "node"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              }
            },
            "required": [
              "namespace"
            ],
            "additionalProperties": false
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "workloads": {
                  "type": "integer",
                  "minimum": 0
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "namespace",
                "workloads",
                "pods"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "kind",
          "filter",
          "items"
        ],
        "additionalProperties": false
      },
      "PathResult": {
        "type": "object",
        "properties": {
          "from": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "term",
                  "name",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "to": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "term",
                  "name",
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "found": {
            "type": "boolean"
          },
          "hops": {
            "type": "integer",
            "minimum": 0
          },
          "chain": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "type",
                "namespace"
              ],
              "additionalProperties": false
            }
          },
          "rels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "from",
          "to",
          "found",
          "hops",
          "chain",
          "rels"
        ],
        "additionalProperties": false
      },
      "CascadeResult": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string"
          },
          "root": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "ts": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "kind": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "target": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "namespace": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "ts",
                  "type",
                  "kind",
                  "target",
                  "namespace"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "totalEvents": {
            "type": "integer",
            "minimum": 0
          },
          "spanSeconds": {
            "type": "integer",
            "minimum": 0
          },
          "byReason": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "reason": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "reason",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "firstType": {
                  "type": "string"
                },
                "reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "events": {
                  "type": "integer",
                  "minimum": 0
                },
                "offsetSeconds": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "resource",
                "namespace",
                "firstType",
                "reason",
                "events",
                "offsetSeconds"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "correlationId",
          "root",
          "totalEvents",
          "spanSeconds",
          "byReason",
          "steps"
        ],
        "additionalProperties": false
      },
      "AlertImpactResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "workloads": {
            "type": "integer",
            "minimum": 0
          },
          "services": {
            "type": "integer",
            "minimum": 0
          },
          "counts": {
            "type": "object",
            "properties": {
              "monitors": {
                "type": "integer",
                "minimum": 0
              },
              "slos": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "monitors",
              "slos"
            ],
            "additionalProperties": false
          },
          "monitors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "service": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "service"
              ],
              "additionalProperties": false
            }
          },
          "slos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "service": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "service"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "scope",
          "workloads",
          "services",
          "counts",
          "monitors",
          "slos"
        ],
        "additionalProperties": false
      },
      "MonitorResult": {
        "type": "object",
        "properties": {
          "term": {
            "type": "string"
          },
          "matched": {
            "type": "integer",
            "minimum": 0
          },
          "monitors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "workloads": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "type",
                "namespace"
              ],
              "additionalProperties": false
            }
          },
          "nodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "term",
          "matched",
          "monitors",
          "services",
          "workloads",
          "nodes",
          "slos"
        ],
        "additionalProperties": false
      },
      "DataStoreResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "services": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "services"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "services": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "sample": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "services",
                  "sample"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "additionalProperties": false
      },
      "FlowResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "producers": {
                  "type": "integer",
                  "minimum": 0
                },
                "consumers": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "producers",
                "consumers"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "producers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "consumers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "producers",
                  "consumers"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "additionalProperties": false
      },
      "ExternalDepResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "services": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "services"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "services": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "sample": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "services",
                  "sample"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "additionalProperties": false
      },
      "AlertsResult": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "object",
            "properties": {
              "target": {
                "type": "string"
              }
            },
            "required": [
              "target"
            ],
            "additionalProperties": false
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "byState": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string"
                },
                "count": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "state",
                "count"
              ],
              "additionalProperties": false
            }
          },
          "firing": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "monitor": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "service": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "workload": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "monitor",
                "state",
                "service",
                "workload",
                "namespace"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "filter",
          "total",
          "byState",
          "firing"
        ],
        "additionalProperties": false
      },
      "AlertNoiseResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "noiseKind": {
                "type": "string"
              },
              "window": {
                "type": "string"
              }
            },
            "required": [
              "noiseKind",
              "window"
            ],
            "additionalProperties": false
          },
          "target": {
            "type": [
              "string",
              "null"
            ]
          },
          "monitors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "fires": {
                  "type": "integer",
                  "minimum": 0
                },
                "recovers": {
                  "type": "integer",
                  "minimum": 0
                },
                "pctSelfResolved": {
                  "type": "number"
                },
                "noiseKind": {
                  "type": "string",
                  "enum": [
                    "flapping",
                    "stuck"
                  ]
                }
              },
              "required": [
                "name",
                "fires",
                "recovers",
                "pctSelfResolved",
                "noiseKind"
              ],
              "additionalProperties": false
            }
          },
          "counts": {
            "type": "object",
            "properties": {
              "flapping": {
                "type": "integer",
                "minimum": 0
              },
              "stuck": {
                "type": "integer",
                "minimum": 0
              },
              "totalFires": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "flapping",
              "stuck",
              "totalFires"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "scope",
          "filter",
          "target",
          "monitors",
          "counts"
        ],
        "additionalProperties": false
      },
      "CallsResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "callers": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "callers"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "callerCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "calleeCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "callers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "callees": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "callerCount",
                  "calleeCount",
                  "callers",
                  "callees"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "additionalProperties": false
      },
      "ServiceTreeResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "serviceCount": {
                  "type": "integer",
                  "minimum": 0
                },
                "leafCount": {
                  "type": "integer",
                  "minimum": 0
                },
                "footprint": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "serviceCount",
                "leafCount",
                "footprint"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "serviceCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "datastoreCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "externalCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "datastores": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "externals": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hasCycle": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "serviceCount",
                  "datastoreCount",
                  "externalCount",
                  "services",
                  "datastores",
                  "externals",
                  "hasCycle"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "additionalProperties": false
      },
      "AlertCauseResult": {
        "type": "object",
        "properties": {
          "target": {
            "type": "string"
          },
          "workload": {
            "type": [
              "string",
              "null"
            ]
          },
          "namespace": {
            "type": [
              "string",
              "null"
            ]
          },
          "firingMonitors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "firingCount": {
            "type": "integer",
            "minimum": 0
          },
          "changes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ts": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "summary": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "target": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ts",
                "type",
                "summary",
                "target"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "target",
          "workload",
          "namespace",
          "firingMonitors",
          "firingCount",
          "changes"
        ],
        "additionalProperties": false
      },
      "AccessResult": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "reach",
              "privileged"
            ]
          },
          "direction": {
            "type": "string",
            "enum": [
              "subject",
              "object"
            ]
          },
          "serviceAccounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "via": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "cluster": {
                  "type": "boolean"
                },
                "rules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "verbs": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "resources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "apiGroups": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "verbs",
                      "resources",
                      "apiGroups"
                    ],
                    "additionalProperties": false
                  }
                },
                "privileged": {
                  "type": "boolean"
                },
                "reasons": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "role",
                "namespace",
                "via",
                "cluster",
                "rules",
                "privileged",
                "reasons"
              ],
              "additionalProperties": false
            }
          },
          "subjects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "serviceAccount": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "via": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                },
                "workloads": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "serviceAccount",
                "namespace",
                "via",
                "pods",
                "workloads"
              ],
              "additionalProperties": false
            }
          },
          "privileged": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "serviceAccount": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                },
                "workloads": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "score": {
                  "type": "number"
                },
                "reasons": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string"
                      },
                      "namespace": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "via": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "cluster": {
                        "type": "boolean"
                      },
                      "rules": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "verbs": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "resources": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "apiGroups": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "verbs",
                            "resources",
                            "apiGroups"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "privileged": {
                        "type": "boolean"
                      },
                      "reasons": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "role",
                      "namespace",
                      "via",
                      "cluster",
                      "rules",
                      "privileged",
                      "reasons"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "serviceAccount",
                "namespace",
                "pods",
                "workloads",
                "score",
                "reasons",
                "roles"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "mode",
          "direction",
          "serviceAccounts",
          "roles",
          "subjects",
          "privileged"
        ],
        "additionalProperties": false
      },
      "ExposureResult": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string",
            "enum": [
              "ingress",
              "workload"
            ]
          },
          "exposed": {
            "type": "boolean"
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "service": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                },
                "workloads": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "service",
                "namespace",
                "pods",
                "workloads"
              ],
              "additionalProperties": false
            }
          },
          "ingresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ingress": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "via": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "ingress",
                "namespace",
                "via"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "direction",
          "exposed",
          "services",
          "ingresses"
        ],
        "additionalProperties": false
      },
      "OrphansResult": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "configmap",
              "serviceaccount",
              "role",
              "replicaset"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              }
            },
            "required": [
              "namespace"
            ],
            "additionalProperties": false
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "namespace"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "kind",
          "filter",
          "items"
        ],
        "additionalProperties": false
      },
      "CoverageResult": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "service",
              "monitor",
              "metrics"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              }
            },
            "required": [
              "namespace"
            ],
            "additionalProperties": false
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "kind": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "namespace",
                "kind"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "kind",
          "filter",
          "items"
        ],
        "additionalProperties": false
      },
      "SloResult": {
        "type": "object",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "alerting": {
                  "type": "integer",
                  "minimum": 0
                },
                "warning": {
                  "type": "integer",
                  "minimum": 0
                },
                "monitors": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "status",
                "alerting",
                "warning",
                "monitors"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "alerting": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "warning": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "monitors": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "sample": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "service": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "state",
                        "service"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "name",
                  "status",
                  "alerting",
                  "warning",
                  "monitors",
                  "sample"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "additionalProperties": false
      },
      "TenancyResult": {
        "type": "object",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ownPods": {
            "type": "integer",
            "minimum": 0
          },
          "neighbors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                },
                "nodes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "name",
                "namespace",
                "type",
                "pods",
                "nodes"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "nodes",
          "ownPods",
          "neighbors"
        ],
        "additionalProperties": false
      },
      "SharedConfigResult": {
        "type": "object",
        "properties": {
          "configmaps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ownPods": {
            "type": "integer",
            "minimum": 0
          },
          "siblings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                },
                "configmaps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "name",
                "namespace",
                "type",
                "pods",
                "configmaps"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "configmaps",
          "ownPods",
          "siblings"
        ],
        "additionalProperties": false
      },
      "AlertRulesResult": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "enum": [
              "coverage",
              "inventory",
              "target"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              },
              "term": {
                "type": "string"
              }
            },
            "required": [
              "namespace",
              "term"
            ],
            "additionalProperties": false
          },
          "coverage": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "kind": {
                  "type": "string"
                },
                "replicas": {
                  "type": "integer",
                  "minimum": 0
                },
                "hasHpa": {
                  "type": "boolean"
                },
                "exposed": {
                  "type": "boolean"
                }
              },
              "required": [
                "name",
                "namespace",
                "kind",
                "replicas",
                "hasHpa",
                "exposed"
              ],
              "additionalProperties": false
            }
          },
          "inventory": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "uid": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "ruleGroup": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "alerts": {
                  "type": "integer",
                  "minimum": 0
                },
                "watched": {
                  "type": "integer",
                  "minimum": 0
                },
                "severities": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "name",
                "uid",
                "ruleGroup",
                "alerts",
                "watched",
                "severities"
              ],
              "additionalProperties": false
            }
          },
          "target": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "namespace": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "kind": {
                    "type": "string"
                  },
                  "rules": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "datastores": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "destinations": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "namespace",
                  "kind",
                  "rules",
                  "datastores",
                  "destinations"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "subject",
          "filter",
          "coverage",
          "inventory",
          "target"
        ],
        "additionalProperties": false
      },
      "GitopsResult": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string",
            "enum": [
              "drift",
              "unmanaged",
              "owner"
            ]
          },
          "filter": {
            "type": "object",
            "properties": {
              "namespace": {
                "type": "string"
              }
            },
            "required": [
              "namespace"
            ],
            "additionalProperties": false
          },
          "drift": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "syncStatus": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "healthStatus": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "repoUrl": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "sourcePath": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "name",
                "syncStatus",
                "healthStatus",
                "repoUrl",
                "sourcePath"
              ],
              "additionalProperties": false
            }
          },
          "unmanaged": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "namespace": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "kind": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "namespace",
                "kind"
              ],
              "additionalProperties": false
            }
          },
          "owner": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "workload": {
                    "type": "string"
                  },
                  "namespace": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "application": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "repoUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "sourcePath": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "targetRevision": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "syncStatus": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "healthStatus": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "required": [
                  "workload",
                  "namespace",
                  "application",
                  "repoUrl",
                  "sourcePath",
                  "targetRevision",
                  "syncStatus",
                  "healthStatus"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "subject",
          "filter",
          "drift",
          "unmanaged",
          "owner"
        ],
        "additionalProperties": false
      },
      "ImageResult": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "ranked",
              "byimage",
              "workload",
              "hygiene"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string"
                },
                "containers": {
                  "type": "integer",
                  "minimum": 0
                },
                "pods": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "required": [
                "image",
                "containers",
                "pods"
              ],
              "additionalProperties": false
            }
          },
          "byImage": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string"
                  },
                  "matchedImages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "containers": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "pods": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "workloadCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "workloads": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "namespace": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "kind": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "namespace",
                        "kind"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "term",
                  "matchedImages",
                  "containers",
                  "pods",
                  "workloadCount",
                  "workloads"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "workload": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "namespace": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "imageCount": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "containers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "image": {
                          "type": "string"
                        },
                        "isInit": {
                          "type": "boolean"
                        },
                        "cpuRequest": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "memRequest": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "memLimit": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "pod": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "image",
                        "isInit",
                        "cpuRequest",
                        "memRequest",
                        "memLimit",
                        "pod"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "name",
                  "type",
                  "namespace",
                  "imageCount",
                  "containers"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "hygiene": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "nomemlimit",
                      "nocpurequest",
                      "skew"
                    ]
[...]
