{
  "openapi": "3.0.3",
  "info": {
    "title": "Anyshift Graph API",
    "version": "1.0.0",
    "description": "Read-only API for querying Anyshift infrastructure graphs by project."
  },
  "servers": [
    {
      "url": "https://graph.anyshift.io"
    }
  ],
  "tags": [
    {
      "name": "Graph",
      "description": "Ask natural-language questions or run deterministic graph queries."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "opaque"
      }
    },
    "parameters": {
      "ProjectId": {
        "name": "projectId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Anyshift project id whose graph should be queried."
      }
    },
    "schemas": {
      "QueryRequest": {
        "type": "object",
        "required": [
          "sql"
        ],
        "properties": {
          "sql": {
            "type": "string",
            "description": "SELECT <*|count(*)> FROM <table> [WHERE k = v [AND ...]] [LIMIT n] [OFFSET n]"
          }
        },
        "additionalProperties": false
      },
      "AskRequest": {
        "type": "object",
        "required": [
          "question"
        ],
        "properties": {
          "question": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Page": {
        "type": "object",
        "required": [
          "limit",
          "offset",
          "hasMore",
          "nextOffset"
        ],
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextOffset": {
            "type": "integer",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ResolvedResource": {
        "type": "object",
        "required": [
          "term",
          "hashedID",
          "name",
          "type"
        ],
        "properties": {
          "term": {
            "type": "string"
          },
          "hashedID": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GraphNode": {
        "type": "object",
        "required": [
          "id",
          "anyshiftID",
          "name",
          "type",
          "namespace"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "anyshiftID": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "namespace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GraphEdge": {
        "type": "object",
        "required": [
          "from",
          "to",
          "type",
          "direction"
        ],
        "properties": {
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "direction": {
            "type": "string",
            "enum": [
              "upstream",
              "downstream"
            ]
          }
        },
        "additionalProperties": false
      },
      "CountByType": {
        "type": "object",
        "required": [
          "type",
          "count"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "SharedCause": {
        "type": "object",
        "required": [
          "name",
          "namespace",
          "affected"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string",
            "nullable": true
          },
          "affected": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "EventItem": {
        "type": "object",
        "required": [
          "ts",
          "type",
          "summary",
          "targetKind",
          "target",
          "namespace",
          "isRoot",
          "noiseClass",
          "cluster"
        ],
        "properties": {
          "ts": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "targetKind": {
            "type": "string",
            "nullable": true
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "namespace": {
            "type": "string",
            "nullable": true
          },
          "isRoot": {
            "type": "boolean"
          },
          "noiseClass": {
            "type": "string",
            "nullable": true
          },
          "cluster": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "InventoryResult": {
        "type": "object",
        "required": [
          "type",
          "total",
          "byNamespace",
          "sample",
          "availableTypes"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "byNamespace": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "sample": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "availableTypes": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "EventsResult": {
        "type": "object",
        "required": [
          "filter",
          "total",
          "byType",
          "recent",
          "page"
        ],
        "properties": {
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "total": {
            "type": "integer"
          },
          "byType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountByType"
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "additionalProperties": false
      },
      "HotspotsResult": {
        "type": "object",
        "required": [
          "dimension",
          "filter",
          "ranking"
        ],
        "properties": {
          "dimension": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "IncidentResult": {
        "type": "object",
        "required": [
          "correlationId",
          "total",
          "roots",
          "namespaces",
          "byType",
          "rootCauses",
          "chain"
        ],
        "properties": {
          "correlationId": {
            "type": "string",
            "nullable": true
          },
          "total": {
            "type": "integer"
          },
          "roots": {
            "type": "integer"
          },
          "namespaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "byType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountByType"
            }
          },
          "rootCauses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventItem"
            }
          },
          "chain": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventItem"
            }
          }
        },
        "additionalProperties": false
      },
      "EventFeedResult": {
        "type": "object",
        "required": [
          "filter",
          "total",
          "byType",
          "recent",
          "page"
        ],
        "properties": {
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "total": {
            "type": "integer"
          },
          "byType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountByType"
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "additionalProperties": false
      },
      "DeploymentsResult": {
        "type": "object",
        "required": [
          "filter",
          "total",
          "namespaces",
          "recent",
          "page"
        ],
        "properties": {
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "total": {
            "type": "integer"
          },
          "namespaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "recent": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          }
        },
        "additionalProperties": false
      },
      "DeployImpactResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommonCauseResult": {
        "type": "object",
        "required": [
          "filter",
          "failingPods",
          "events",
          "byNode",
          "byWorkload",
          "byDatastore",
          "byExternal"
        ],
        "properties": {
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "failingPods": {
            "type": "integer"
          },
          "events": {
            "type": "integer"
          },
          "byNode": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedCause"
            }
          },
          "byWorkload": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedCause"
            }
          },
          "byDatastore": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedCause"
            }
          },
          "byExternal": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedCause"
            }
          }
        },
        "additionalProperties": false
      },
      "BlastRadiusResult": {
        "type": "object",
        "required": [
          "pods",
          "workloads",
          "services"
        ],
        "properties": {
          "pods": {
            "type": "integer"
          },
          "workloads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedCause"
            }
          },
          "services": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SharedCause"
            }
          }
        },
        "additionalProperties": false
      },
      "SpofResult": {
        "type": "object",
        "required": [
          "kind",
          "filter",
          "items"
        ],
        "properties": {
          "kind": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "OrphansResult": {
        "type": "object",
        "required": [
          "kind",
          "filter",
          "items"
        ],
        "properties": {
          "kind": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "CoverageResult": {
        "type": "object",
        "required": [
          "kind",
          "filter",
          "items"
        ],
        "properties": {
          "kind": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "additionalProperties": true
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "additionalProperties": false
      },
      "ScalingResult": {
        "type": "object",
        "additionalProperties": true
      },
      "NetpolResult": {
        "type": "object",
        "additionalProperties": true
      },
      "PriorityResult": {
        "type": "object",
        "additionalProperties": true
      },
      "PdbResult": {
        "type": "object",
        "additionalProperties": true
      },
      "AccessResult": {
        "type": "object",
        "additionalProperties": true
      },
      "ExposureResult": {
        "type": "object",
        "additionalProperties": true
      },
      "TenancyResult": {
        "type": "object",
        "additionalProperties": true
      },
      "SharedConfigResult": {
        "type": "object",
        "additionalProperties": true
      },
      "PathResult": {
        "type": "object",
        "additionalProperties": true
      },
      "CascadeResult": {
        "type": "object",
        "additionalProperties": true
      },
      "AlertImpactResult": {
        "type": "object",
        "additionalProperties": true
      },
      "MonitorResult": {
        "type": "object",
        "additionalProperties": true
      },
      "DataStoreResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FlowResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExternalDepResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SloResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlertsResult": {
        "type": "object",
        "additionalProperties": true
      },
      "AlertNoiseResult": {
        "type": "object",
        "additionalProperties": true
      },
      "CallsResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ServiceTreeResult": {
        "type": "object",
        "required": [
          "scope",
          "ranking",
          "target"
        ],
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "ranked",
              "target"
            ]
          },
          "ranking": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "target": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AlertCauseResult": {
        "type": "object",
        "additionalProperties": true
      },
      "AlertRulesResult": {
        "type": "object",
        "additionalProperties": true
      },
      "GitopsResult": {
        "type": "object",
        "additionalProperties": true
      },
      "ImageResult": {
        "type": "object",
        "additionalProperties": true
      },
      "StorageResult": {
        "type": "object",
        "additionalProperties": true
      },
      "TopologyResult": {
        "type": "object",
        "additionalProperties": true
      },
      "AskResult": {
        "type": "object",
        "required": [
          "question",
          "intent",
          "summary"
        ],
        "properties": {
          "question": {
            "type": "string"
          },
          "intent": {
            "type": "string",
            "enum": [
              "connections",
              "inventory",
              "events",
              "hotspots",
              "incident",
              "failures",
              "deployments",
              "audit",
              "nodes",
              "deployimpact",
              "commoncause",
              "blast",
              "spof",
              "path",
              "cascade",
              "alertimpact",
              "monitor",
              "datastore",
              "flow",
              "externaldep",
              "alerts",
              "alertnoise",
              "calls",
              "servicetree",
              "alertcause",
              "access",
              "exposure",
              "orphans",
              "coverage",
              "slo",
              "tenancy",
              "sharedconfig",
              "alertrules",
              "gitops",
              "image",
              "netpol",
              "storage",
              "pdb",
              "scaling",
              "topology",
              "priority"
            ]
          },
          "summary": {
            "type": "string"
          },
          "countOnly": {
            "type": "boolean"
          },
          "elapsedMs": {
            "type": "integer"
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          },
          "resolved": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ResolvedResource"
              }
            ],
            "nullable": true
          },
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraphNode"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GraphEdge"
            }
          },
          "inventory": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InventoryResult"
              }
            ],
            "nullable": true
          },
          "events": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventsResult"
              }
            ],
            "nullable": true
          },
          "hotspots": {
            "allOf": [
              {
                "$ref": "#/components/schemas/HotspotsResult"
              }
            ],
            "nullable": true
          },
          "incident": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IncidentResult"
              }
            ],
            "nullable": true
          },
          "failures": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventFeedResult"
              }
            ],
            "nullable": true
          },
          "deployments": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DeploymentsResult"
              }
            ],
            "nullable": true
          },
          "audit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventFeedResult"
              }
            ],
            "nullable": true
          },
          "nodeEvents": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventFeedResult"
              }
            ],
            "nullable": true
          },
          "deployImpact": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DeployImpactResult"
              }
            ],
            "nullable": true
          },
          "commonCause": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CommonCauseResult"
              }
            ],
            "nullable": true
          },
          "blastRadius": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BlastRadiusResult"
              }
            ],
            "nullable": true
          },
          "spof": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SpofResult"
              }
            ],
            "nullable": true
          },
          "orphans": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OrphansResult"
              }
            ],
            "nullable": true
          },
          "coverage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CoverageResult"
              }
            ],
            "nullable": true
          },
          "scaling": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ScalingResult"
              }
            ],
            "nullable": true
          },
          "netpol": {
            "allOf": [
              {
                "$ref": "#/components/schemas/NetpolResult"
              }
            ],
            "nullable": true
          },
          "priority": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PriorityResult"
              }
            ],
            "nullable": true
          },
          "pdb": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PdbResult"
              }
            ],
            "nullable": true
          },
          "access": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessResult"
              }
            ],
            "nullable": true
          },
          "exposure": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ExposureResult"
              }
            ],
            "nullable": true
          },
          "tenancy": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TenancyResult"
              }
            ],
            "nullable": true
          },
          "sharedConfig": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SharedConfigResult"
              }
            ],
            "nullable": true
          },
          "path": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PathResult"
              }
            ],
            "nullable": true
          },
          "cascade": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CascadeResult"
              }
            ],
            "nullable": true
          },
          "alertImpact": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AlertImpactResult"
              }
            ],
            "nullable": true
          },
          "monitor": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MonitorResult"
              }
            ],
            "nullable": true
          },
          "dataStore": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DataStoreResult"
              }
            ],
            "nullable": true
          },
          "flow": {
            "allOf": [
              {
                "$ref": "#/components/schemas/FlowResult"
              }
            ],
            "nullable": true
          },
          "externalDep": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ExternalDepResult"
              }
            ],
            "nullable": true
          },
          "slo": {
            "allOf": [
              {
                "$ref": "#/components/schemas/SloResult"
              }
            ],
            "nullable": true
          },
          "alerts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AlertsResult"
              }
            ],
            "nullable": true
          },
          "alertNoise": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AlertNoiseResult"
              }
            ],
            "nullable": true
          },
          "calls": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CallsResult"
              }
            ],
            "nullable": true
          },
          "serviceTree": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServiceTreeResult"
              }
            ],
            "nullable": true
          },
          "alertCause": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AlertCauseResult"
              }
            ],
            "nullable": true
          },
          "alertRules": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AlertRulesResult"
              }
            ],
            "nullable": true
          },
          "gitops": {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitopsResult"
              }
            ],
            "nullable": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageResult"
              }
            ],
            "nullable": true
          },
          "storage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StorageResult"
              }
            ],
            "nullable": true
          },
          "topology": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TopologyResult"
              }
            ],
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "bad_request",
                  "project_required",
                  "forbidden",
                  "not_found",
                  "payload_too_large",
                  "timeout",
                  "project_graph_unconfigured",
                  "project_events_graph_unconfigured",
                  "internal"
                ]
              },
              "message": {
                "type": "string"
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      }
    }
  },
  "paths": {
    "/v1/query": {
      "post": {
        "operationId": "queryGraph",
        "tags": [
          "Graph"
        ],
        "summary": "Run a query-language query (deterministic, no LLM).",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "504": {
            "description": "Query timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/query": {
      "post": {
        "operationId": "queryProjectGraph",
        "tags": [
          "Graph"
        ],
        "summary": "Run a deterministic graph query for an Anyshift project.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Project events graph unconfigured or internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "504": {
            "description": "Query timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ask": {
      "post": {
        "operationId": "askGraph",
        "tags": [
          "Graph"
        ],
        "summary": "Ask a natural-language graph question.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "504": {
            "description": "Query timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/ask": {
      "post": {
        "operationId": "askProjectGraph",
        "tags": [
          "Graph"
        ],
        "summary": "Ask a natural-language graph question for an Anyshift project.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Answer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Project events graph unconfigured or internal error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "504": {
            "description": "Query timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    }
  }
}
